<!DOCTYPE html>
<!-- Copyright (c) 2016-2018 Haiku. All rights reserved. -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{demo}} | Debug | Haiku Core</title>
  <style>
    html, body {
      margin: 0;
    }
    {{{style}}}
  </style>
  <script src="/webpack/HaikuDOMAdapter.js"></script>
  <script src="/webpack/{{demo}}.bytecode.js"></script>
</head>
<body>
  {{{before}}}
  <div id="mount"></div>
  {{{after}}}
  <script>
    window.debugComponent = window.HaikuDOMAdapter.default(window.bytecode)(
      document.getElementById('mount'),
      {loop: true}
    );
  </script>
</body>
</html>
